@{
    ViewBag.Title = "Core Values";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    The Centirc core values are... <br />
    These core values will be significant in creating the recogniion platforms available for employees.
    
    
    </p>
