@{
    ViewBag.Title = "Contact Team 12";
}
<h2>@ViewBag.Title</h2>


<p>
    Our Team: <br />
    Sara Althauser <br />
    Patrick Crago <br />
    Matthew Donahue <br />
    Alexandra Hiatt <br />
    Hannah Sullivan
</p>


<address>
    <strong>Email Sara:</strong>   <a href="mailto:sa380915@ohio.edu">sa380915@ohio.edu</a><br />
    <strong>Email Pat:</strong> <a href="mailto:pc533016@ohio.edu">pc533016@ohio.edu</a><br />
    <strong>Email Matt:</strong>   <a href="mailto:md753815@ohio.edu">md753815@ohio.edu</a><br />
    <strong>Email Allie:</strong> <a href="mailto:ah412415@ohio.edu">ah412415@ohio.edu</a><br />
    <strong>Email Hannah:</strong> <a href="mailto:hs085315@ohio.edu">hs085315@ohio.edu</a>
</address>
 
<p> You can always find us at the Ohio University College of Business!</p>
<address>
    Copeland Hall<br />
    70 S Court St <br />
    Athens, OH 45701<br />
</address>